.App {
  background-color: #404041;
  min-height: 100vh;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:left;
  font-size: calc(10px + 1vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CastomCard {
  display: flex;
  align-content: center;
  height: auto;
  width: 95%;
  border-radius: 25px;
  padding: 15px;
  font-size: calc(10px + 2vmin);
  margin: 15px;
}

.CastomAddCard {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 25px;
  padding: 15px;
  font-size: calc(10px + 2vmin);
  margin: 15px;
}

.CastomButton {
  border-radius: 25px;
  padding: 15px;
  margin: 15px;
  background-color: rgb(63, 63, 63);
  font-size: 24px;
}

.CastomTextBox{
  padding-left: 15px;
}

img{
  height: 90%;
  width: 12%;
}

.ColorBoxCard{
  background-color: rgb(132, 129, 129);
}

.ColorCard {
  background-color: rgb(114, 113, 113);
}

.DerectionBoxCard {
  flex-direction: column;
}

.DerectionCard {
  flex-direction: row;
  align-items: center;
}

.CastomCard h4{
  text-align: left;
}